@model IEnumerable<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValueByID</title>
</head>
<body>

    <div>
        <h4>ValueClient</h4>
        <hr />
        <dl class="dl-horizontal">
        </dl>
    </div>
    <table class="table">
        
            
            @foreach (var value in Model)
            {
                <tr>
                    <td>@value</td>
                    <a asp-action="Index">Back to List</a>
                </tr>
            }
            
            </table>
    </body>
</html>
