@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ValueByID</title>
</head>
<body>

<div>
    <h4>ValueClient</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Model
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
